.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 940px;
  height: 700px;
  box-shadow: 5px 5px 21px 5px #000000;
  border-radius: 8px;
  padding-left: 165px;
  margin-left: 25%;
  margin-top: 8%;
  background-color: rgb(54, 54, 54);
  
}

.cardContent{
  margin-top: 10px;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-flow: wrap; 
  justify-content: space-around;
  height: 600px;
  width: 840px;
}

.cardContent > img{
  margin-bottom: 15px;
  cursor: pointer;
}

.memory{
  color: whitesmoke;
  font-size: 32px;
  margin-left: -11%;
  margin-top: 2%;
  text-align: center;
}